{% extends "base.html" %}
{% block title %}New Subject{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card p-4">
            <h4 class="mb-3">Create Subject</h4>
            <form method="POST" novalidate>
                {{ form.hidden_tag() }}
                <div class="mb-2">
                    {{ form.name.label(class="form-label") }}
                    {{ form.name(class="form-control", placeholder="e.g. Mathematics") }}
                </div>
                <div class="mb-2">
                    {{ form.description.label(class="form-label") }}
                    {{ form.description(class="form-control", rows="2") }}
                </div>
                <div class="mb-2">
                    {{ form.level.label(class="form-label") }}
                    {{ form.level(class="form-select") }}
                </div>
                <div class="row">
                    <div class="col-6 mb-2">
                        {{ form.passing_score.label(class="form-label") }}
                        {{ form.passing_score(class="form-control") }}
                    </div>
                    <div class="col-6 mb-3">
                        {{ form.time_limit_minutes.label(class="form-label") }}
                        {{ form.time_limit_minutes(class="form-control") }}
                    </div>
                </div>
                <button class="btn btn-primary w-100" type="submit">Create &amp; Continue to Upload Questions</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
